/* Mini reset */
html, body {
    height: 100%;
    background-color: #eee;
}

body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
dl, dt, dd,
span, div, main, header, footer, nav,
article, section, aside,
pre, table,
input, textarea, select, button {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

sup, sub {
    line-height: 0;
}

/* Typo */

html {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

h1 {
    font-size: 1.875rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

dt {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6,
p.tagline {
    font-family: monospace;;
}

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6,
.wf-active p.tagline {
    font-family: 'Special Elite', monospace;
}

/* Set some margins */

header {
    background-color: #333;
    color: #eee;
    padding-top: 3rem;
    padding-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

body > :last-child {
    margin-bottom: 0;
}

main, footer, header {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul, ol, dl, dd,
p,
form,
main, nav, footer, header,
div {
    margin-bottom: 1.5rem;
}

/* Site Alignment */

.site-block {
    max-width: 800px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/* List styles */

main ol {
    margin-left: 2rem;
}

ol.collapsed {
    margin-left: 0;
}

.collapsed li {
    display: inline;
}

/* Helpers */

.centered {
    text-align: center;
}

.nomargin {
    margin: 0;
}

.hidden {
    display: none;
}

.right {
    float: right;
}

.notify {
    color: lightcoral;
}

.w100 {
    width: 100%;
}

/* Notifications */

.notification {
    padding: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
}

.success {
    background-color: limegreen;
}

.info {
    background-color: darkorange;
}

.error {
    background-color: lightcoral;
}


/* Columns helpers */

footer,
.columns {
    clear: both;
    overflow: hidden;
}

footer .left,
footer .column,
.columns .left,
.columns .column {
    display: inline;
    float: left;
}

footer .right,
.columns .right {
    display: inline;
    float: right;
}

footer .c100,
footer .column,
.columns .c100,
.columns .column {
    width: 100%;
}

footer .c25,
.columns .c25 {
    width: 25%;
}

footer .c50,
.columns .c50 {
    width: 50%;
}

footer .c75,
.columns .c75 {
    width: 50%;
}

/* Navigation */

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline;
    white-space: nowrap;
}

/* Forms */

form {
    padding: 1.5rem;
    background-color: #eee;
    position: relative;
}

.form-blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(../img/ajax_loader_gray_512.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 999;
}

form > :last-child {
    margin-bottom: 0;
}

label {
    display: inline-block;
    width: 100%;
}

label span {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

input, textarea, select {
    border: 1px solid #333;
    color: #333;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
}

textarea {
    height: auto;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
}

button[type=submit] {
    background-color: lightgreen
}

button.cancel {
    background-color: lightcoral;
}

/* Footer */

footer {
    background-color: #333;
    color: #eee;
    padding: 1rem;
    margin-bottom: 0;
}

footer, .footer-push {
    height: 14rem;
}

.wrapper {
    background-color: #fff;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -14rem;
}

@media (min-width: 365px) {
    footer, .footer-push {
        height: 12rem;
    }

    .wrapper {
        margin-bottom: -12rem;
    }
}

@media (min-width: 391px) {
    footer, .footer-push {
        height: 9.5rem;
    }

    .wrapper {
        margin-bottom: -9.5rem;
    }
}

@media (min-width: 695px) {
    footer, .footer-push {
        height: 8rem;
    }

    .wrapper {
        margin-bottom: -8rem;
    }
}

@media (min-width: 713px) {
    footer, .footer-push {
        height: 6.5rem;
    }

    .wrapper {
        margin-bottom: -6.5rem;
    }
}


footer > :last-child {
    margin-bottom: 0;
}

footer a {
    color: #eee;
}

footer a:hover {
    color: #fc8;
}

/* Main nav */
main nav {
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

main nav a {
    color: #333;
    position: relative;
}

main nav .blurb {
    background-color: #f00;
    padding: 0.7rem 0.5rem 0 0.5rem;
    border-radius: 50%;
    line-height: 0;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    color: #eee;
    font-size: 0.75rem;
    font-weight: bold;
    position: absolute;
    right: -15%;
    top: 0;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
}

/* Beta banner */

.beta-banner {
    color: #333;
    position: absolute;
    top: 10px;
    right: -70px;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 15rem;
    text-align: center;
    border-bottom: 2px double #f00;
    border-top: 2px double #f00;
    font-weight: bold;

    -webkit-box-shadow: 5px 0 10px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 5px 0 10px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: 5px 0 10px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 5px 0 10px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 5px 0 10px 0 rgba(255, 255, 255, 0.4);

    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

/* Profile */

.mugshot {
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;

    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.mugshot > :last-child {
    margin-bottom: 0;
}

/* Blurb */
.blurb {
    padding: 1.5rem;
    border: 1px solid #000;
    background-color: #f96;
    background-color: rgba(255, 125, 0, 0.15);
    text-align: center;
    float: right;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    max-width: 50%;

    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;

    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
}

@media (max-width: 640px) {
    .blurb {
        max-width: 100%;
        float: none;

        -webkit-transform: rotateZ(2deg);
        -moz-transform: rotateZ(2deg);
        -ms-transform: rotateZ(2deg);
        -o-transform: rotateZ(2deg);
        transform: rotateZ(2deg);
    }
}
